.site-layout-content {
  min-height: 280px;
  background: #fff;
}

.ant-layout-content {
  padding: 56px !important;
}
.ant-layout-footer {
  padding: 56px !important;
}

@media screen and (max-width: 1000px) {
  .ant-layout-content {
    padding: 24px 15px !important;
  }
  .ant-layout-footer {
    padding: 24px 15px !important;
  }
}
