.ant-layout-header {
  padding: 0 !important;
}

.navbar-brand {
  padding-top: 0 !important;
}

.container {
  padding: 0 !important;
}

.item-nav {
  margin-left: auto;
}

@media screen and (max-width: 575px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
